.cardCtn {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 4px 21px 6px rgba(178, 178, 30, 0.64);
    transition: 1s;
}

.cardCtn:hover {
    transform: scale(1.05);
}

.cardCtn img {
    width: 40%;
    border-radius: 10px;
    max-height: 300px;
}

.cardInfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.cardTitle {
    font-size: 35px;
}

.cardText {
    font-size: 25px;
    margin-right: 5px;
}