.Pagination {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
  button {
    margin-right: 10px;
  }

  span {
    margin: 10px;
    font-weight: 600;
  }
}
