.container {
  width: 100%;
  background-color: black;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 4px 2px -2px gray;
  margin: 0px 0px 25px 0px;
}

.containerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5rem;
  height: 100%;
  width: 150px;
  float: left;
}

.containerLogo img {
  height: 100px;
  width: 100px;
}

.containerText {
  float: left;
  width: 400px;
  color: white;
}
