.searchCtn {
    width: 80%;
    height: 40px;
    align-self: center;
    animation: fromRight 2s ease;
}

.searchCtn form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.searchCtn form input {
    height: 80%;
    margin: 0;
}

.searchCtn form input[type='text'] {
    width: 50%;
}

.searchCtn form button {
    height: 90%;
    width: 70px;
    cursor: pointer;
}

.searchCtn form button:hover {
    opacity: 0.6;
}

@keyframes fromRight {
    from {
        transform: translateX(1500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}