.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root, html, body, #root, .root {
  height: 100%;
}
.container-bike-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  padding: 20px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  min-height: 250px;
}
.login-logo {
  width: 100px;
}
.login-button {
  width: 100%;
}
.header-bikes {
  width: 100%;
  background: #eae9e9;
  padding: 10px 50px;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header-bikes .bike-logo-nav {
  width: 100px;
  margin-right: 20px;
}
