@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;1,400&display=swap');

html {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    box-sizing: border-box;
    background: #93b5c6;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
