$Yellow: #ffbe0b;
$Green: #06d6a0;
$Red: #d90429;
$LightGreen: #0cb0a9;
$LightBlue: #118ab2;
$DarkBlue: #0c637f;
$Pink: #ef476f;
$DarkGreen: #09c3a5;
$White: #ffffff;
$Black: #231b1b;

html,body{
	margin:0;
	padding:0;
 }

 body{
    cursor: url(../../components/images/cursor.png),default;
}

::-webkit-scrollbar {
width: .8rem;               
}

::-webkit-scrollbar-track {
background: $Yellow;       
border-radius: 0px 0px 0px 0px;
border: solid .1rem $Black;
}

::-webkit-scrollbar-thumb {
background-color: $LightBlue;    
border-radius: 5rem;
border: solid .1rem $Black;
}
