.homeCtn {
    margin-top: 170px;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.homeCtn h1 {
    font-size: 40px;
}

.error {
    color: red;
    font-size: 40px;
    font-weight: 300;
}