.container {
  width: 100%;
  border-radius: 5px;
}

.containerItem {
  height: 200px;
  margin: 5px 0px 0px 0px;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 21%);
}

.containerImage img {
  width: 200px;
  height: 200px;
  float: left;
}

.containerText {
  float: left;
  margin-left: 5rem;
}
